.container
  %h2
    =@connections.length
    possible connections
    %small
      found for
      = @member.name
      with the term
      %em= params[:q]


  - @connections.each do |c|
    .Connection.well
      %h3
        = c.linked_name
        %small= c.depth

      = c.connection_list.html_safe
