%h1= decorator.name
%h2.website= decorator.website
%h2.short_url= decorator.short_url

.well
  %h4 Website Content

  %h1= decorator.content_from 'h1'
  %h2= decorator.content_from 'h2'
  %h3= decorator.content_from 'h3'
