.container
  %h1
    = decorator.name
    %small Member
    -# Lol

  .row
    .col-lg-7
      %p.lead= decorator.website
      %p= decorator.short_url

      %hr

      %h4 Website Content

      %p= decorator.content_from 'h1'
      %p= decorator.content_from 'h2'
      %p= decorator.content_from 'h3'

    .col-lg-5
      %nav.nav
        = link_to 'Create Friendship',
          url_for( controller: 'friendships', action: 'new',
          member_id: decorator.id ), class: 'btn btn-sm btn-primary'

      %h4 Friends
      = decorator.friends_list

      %form.form{ action: url_for( controller: 'connections',
        member_id: decorator.id )}

        %input{ name: 'q', placeholder: 'Search term' }
        %input.btn.btn-warning{ type: 'submit', value: 'Find Connections' }
